// App.scss

@import "./styles/_media-queries.module.scss";
@import "./styles/_mixins.module.scss";

* {
	box-sizing: border-box;
	line-height: 1.4em;
}

.app {
	margin: 0;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

header,
footer {
	flex: none;
}

body {
	font-family: arial;
	font-size: 16px;
	color: black;
	margin: 0;
}

h1,
h2,
h3 {
	clear: both;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

h2 {
	line-height: 2em;
	font-size: 1.6em;
}

.content {
	max-width: 1000px;
	text-align: left;
	padding: 1rem 2rem 1rem 1rem;
	ul {
		margin: 2rem 0;
	}
	li {
		margin: 1rem 0;
	}
	.video {
		border-width: 5px;
		border-style: ridge;
		border-color: blue;
		border-radius: 4px;
		width: 560px;
		height: 315px;
		max-width: 90vw;
		max-height: 90vh;
	}
}

@include respond-above(m) {
	$header-height: 8rem;

	.content {
		text-align: justify;
		margin: 0 auto;
		font-size: 1.2rem;
		.video {
			margin-left: 40px;
		}
	}

	h3 {
		margin: 1.8em 0 0.4em;
	}

	p {
		line-height: 1.6em;
	}
}
